# Node
TZ=UTC
PORT=3000
HOST=localhost

# App
LOG_LEVEL=info
APP_KEY=JRTP0T0udj2iS0zF4QPmd0UXTW72LIlc
APP_URL=http://${HOST}:${PORT}

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=beTalent
DB_PASSWORD=123456789
DB_NAME=BeTalent

# JWT
JWT_SECRET=your_jwt_secret_key

# Payment Gateways
GATEWAY_1_URL= 
GATEWAY_1_EMAIL=
GATEWAY_1_TOKEN=

GATEWAY_2_URL=
GATEWAY_2_AUTH_TOKEN=
GATEWAY_2_AUTH_SECRET=
